* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Arial", sans-serif;
  color: #fff;

  width: 100%;
  min-height: 100vh;

  background: no-repeat center/cover url("../../img/bg-01.jpg");
}

body:before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

.admin {
  display: flex;
  justify-content: center;

  color: #14171a;
  font-weight: bold;
}

input {
  outline: transparent;
  border: transparent;
}

.alert {
  width: 100%;
  padding: 10px;

  font-size: 16px;
  border-radius: 10px;

  text-align: center;
}

.alert__error {
  color: rgb(143, 38, 69);
}

.alert__error strong {
  color: rgb(143, 38, 69);
}
